OPENROUTER_API_KEY=
CHAT_MODEL=qwen/qwen3.8-27b:free
SUPABASE_URL=https://wexytifqxnbjflsnpvlx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
PDF_PATH=data/2026-2027 UWC Costa Rica Handbook.pdf

VITE_SUPABASE_URL=https://wexytifqxnbjflsnpvlx.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_HANDBOOK_PDF_URL=
HI=0