OPENROUTER_API_KEY=
CHAT_MODEL=deepseek/deepseek-v4-flash-0731:free
SUPABASE_URL=https://wexytifqxnbjflsnpvlx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
PDF_PATH=data/2026-2027 UWC Costa Rica Handbook.pdf

VITE_SUPABASE_URL=https://wexytifqxnbjflsnpvlx.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_HANDBOOK_PDF_URL=
